# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Node.js / React
node_modules/
dist/
frontend/dist/
frontend/node_modules/
.npm
.eslintcache

# Project Local Storage & History
history/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
